.minimalHeader {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 3000;
  background-color: #2e3136;
  box-shadow: inset 0px -1px 1px #132f4c;
  backdrop-filter: blur(8px);
  height: 60px;
  padding: 0px 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .minimalHeader__title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    line-height: 52px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
  }
}
