.header {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 3000;
  background-color: rgba(10, 25, 41, 0.7);
  box-shadow: inset 0px -1px 1px #132f4c;
  backdrop-filter: blur(8px);
  .header_container {
    width: 100%;
    width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    .header_container_left {
      display: flex;
      align-items: center;
      gap: 42px;
      .header_title {
        font-size: 30px;
        font-weight: 800;
        cursor: pointer;
        color: #66b2ff;
      }
      .header_menu {
        display: flex;
        align-items: center;
        margin-top: 8px;
        list-style: none;
        .header_menu_feature {
          .header_menu_button {
            padding: 8px 12px;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            color: #fff;
            &:hover {
              padding: 8px 12px;
              border-radius: 12px;
              background-color: #132f4c;
            }
          }
          position: relative;
        }
      }
    }

    .header_container_right {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-top: 8px;
      .header_container_right_item_blog {
        color: #fff;
        padding: 8px 12px;
        border-radius: 14px;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        background-color: #132f4c;
        border: 1px solid #5090d3;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #011e3c;
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .feedback_container {
    display: none !important;
  }
}
