.feature {
  margin: 150px 0;
  .feature_container {
    width: 1024px;
    margin: 0 auto;
    .feature_container_text {
      text-align: center;
      margin-bottom: 12px;
      font-size: 28px;
      font-weight: 600;
      color: #000;
      font-family: "Roboto", sans-serif;
    }
    .feature_container_description {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 32px;
      color: #666;
      font-family: "Roboto", sans-serif;
    }
  }
}
.embed-nav .logo-wrap {
  display: none !important;
}
