.feature {
  margin: 150px 0;
  background: #ffffff;
  .feature_container {
    width: 1024px;
    margin: 0 auto;
    .feature_container_text {
      text-align: center;
      margin-bottom: 12px;
      font-size: 28px;
      font-weight: 600;
      color: #000;
      font-family: "Roboto", sans-serif;
    }
    .feature_container_description {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 32px;
      color: #666;
      font-family: "Roboto", sans-serif;
    }
  }
  .startLearning__container__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    .startLearning__container__button__text {
      width: 300px;
      height: 50px;
      background: rgb(242, 71, 71);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
    }
  }
}
.embed-nav .logo-wrap {
  display: none !important;
}
