.showFeature {
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  background: #fff;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  z-index: 5;
  .showFeature__content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    .showFeature__content__item {
      width: 320px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      background: #fff;
      border: 1px solid #fff;
      padding: 20px;
      cursor: pointer;
      border-radius: 4px;
      .showFeature__content__item__title {
        font-size: 20px;
        font-weight: 600;
        color: #000;
      }
      .showFeature__content__item__description {
        font-size: 12px;
        color: #333;
      }
      transition: all 0.3s;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}
