.sideBar {
  .sideBar_container {
    width: 300px;
    padding: 16px;
    padding-top: 0px;
    background: #0b1929;
    .sideBar_searchBar {
      width: 100%;
      height: 42px;
      border: 1px solid #132f4c;
      border-radius: 8px;
      padding: 0 8px;
      background: #0b1929;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      .sideBar_search {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        color: #333;
        background: #0b1929;
        &::placeholder {
          color: #b2bac2;
        }
        color: #fff;
      }
      .search_icon {
        margin-right: 4px;
      }
    }
    .sideBar_scrollable_container {
      height: calc(100vh - 160px);
      overflow-y: scroll;
      border: 1px solid #132f4c;
      border-radius: 12px;
      padding: 4px;
      padding-right: 0px;
      .sideBar_title {
        font-size: 21px;
        font-weight: 600;
        font-family: "Roboto";
        margin-bottom: 8px;
        color: #dfdcdc;
      }
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgb(133, 132, 132);
        border-radius: 4px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sideBar {
    display: none;
  }
}
