.questionDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  .questionDisplay_container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 52px;
    flex-direction: column;
    background: #ffffff;
    .questionDisplay_container_title {
      font-size: 16px;
      font-weight: 500;
      color: #666;
      background: #fafafa;
      border: 1px solid#eaeaea;
      padding: 16px;
      font-family: "Inter", sans-serif;
      border-radius: 4px;
    }
    .questionDisplay_question {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .questionDisplay_question_title {
        font-size: 24px;
        font-weight: 600;
        color: #000;
        font-family: "Roboto";
      }
      .questionDisplay_question_answer {
        line-height: 1.65;
        font-size: 16px;
        font-weight: 400;
        direction: ltr;
        font-feature-settings: "kern";
        font-family: "Inter", sans-serif;
      }
    }
  }
}

.questionDisplay_question_selected {
  background: #fafafa;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}
