.dropDown {
  width: 100%;
  .dropDown_header {
    display: flex;
    align-items: center;
    height: 36px;
    gap: 12px;
    cursor: pointer;
    .dropDown_header_title {
      font-size: 18px;
      font-weight: 600;
      color: #000000;
      font-family: "Inter", sans-serif;
    }
    .dropDown_icon {
      font-size: 24px !important;
      transform: rotate(-90deg);
    }
    .dropDown_icon_reverse {
      transform: rotate(0deg);
      transition: all 0.5s ease-in-out;
    }
  }
  .dropDown_list {
    display: flex;
    flex-direction: column;
    .dropDown_list_item {
      font-size: 14px;
      font-weight: 400;
      color: #666;
      font-family: 'Inter', sans-serif;
      cursor: pointer;
      padding: 16px;
      &:hover {
        background-color: #e1e1e1;
        border-radius: 4px;
      }
    }
  }
}
