.dropDown {
  width: 100%;
  .dropDown_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
      background-color: rgb(19, 47, 76);
    }
    .dropDown_header_title {
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      font-family: "Roboto", sans-serif;
    }
    .dropDown_icon {
      font-size: 24px !important;
      transform: rotate(-90deg);
    }
    .dropDown_icon_reverse {
      transform: rotate(0deg);
      transition: all 0.5s ease-in-out;
    }
  }
  .dropDown_list {
    display: flex;
    flex-direction: column;
    background: #0b1929;
    .dropDown_list_item {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      color: rgb(178, 186, 194);
      font-family: "Inter", sans-serif;
      cursor: pointer;
      padding: 8px;
      border-radius: 8px;
      &:hover {
        background: rgb(16, 53, 93);
      }
    }
  }
}
