.dashboard {
  width: 100%;
  background-color: #fff;
  .dashboard_container {
    width: 1024px;
    margin: 0px auto;
  }
}

@media screen and (max-width: 1024px) {
  .dashboard {
    .dashboard_container {
      width: 100%;
      padding: 0px 0px;
    }
  }
}
