.dashboard {
  width: 100%;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 70px);
  .dashboard_container {
    width: 1024px;
    margin: 0px auto;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(190, 189, 189);
    border-radius: 10px;
  }
}
