.container {
  width: 1024px;
  margin: 62px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 60vh;
  .content {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: #333;
    margin-bottom: 40px;
  }
  .description {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    margin-bottom: 40px;
  }
}
