.tabView {
  width: 100%;
  height: 100%;
  .tabView__container {
    width: 100%;
    height: 100%;
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 4px;
    .tabView__container__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #161b22;
      border-radius: 4px;
      border: 1px solid #30363d;
      padding: 8px;
      .tabView__container__header_left {
        display: flex;
        align-items: center;
        gap: 4px;
      }
      .tabView__container__header__tab {
        padding: 8px 16px;
        padding-bottom: 6px;
        font-size: 16px;
        border-radius: 4px;
        font-weight: 400;
        color: #6e7681;
        font-family: "Inter", sans-serif;
        cursor: pointer;
      }
      .tabView__container__header__tab_active {
        background: #0d1117;
        color: #fff;
      }
    }
    .tabView__container__content__result {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid rgb(18, 16, 16);
      border-radius: 4px;
    }
  }
  .tabView__container__content {
    pre {
      background-color: #161b22 !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .tabView__container__header__tab {
    padding: 6px 8px !important;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    background: #525761;
  }
  .tabView__container__content__result__image {
    width: 300px !important;
    height: 300px !important;
  }
}
