.differentiate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .differentiate_container {
    margin: 16px 0px;
    height: 100%;
    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #000;
      th,
      td {
        padding: 10px;
        text-align: left;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        color: #000;
      }
      .differentiate_header {
        font-weight: 800px;
        font-size: 20px;
        color: #343541;
      }
    }
  }
}
