.leftSidebar {
  width: 320px;
  height: 100vh;
  border: 1px solid rgb(19, 47, 76);
  .leftSidebar__title {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 24px 16px;
    .leftSidebar__title__icon {
      cursor: pointer;
      background: #132f4c;
      border-radius: 50%;
      border: 1px solid rgb(19, 47, 76);
    }
    .leftSidebar__title__text {
      font-size: 16px;
      font-weight: 400;
      color: #66b2ff;
      cursor: pointer;
    }
    border-bottom: 1px solid rgb(19, 47, 76);
  }
  .leftSidebar__list {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .leftSidebar__list__item {
      display: flex;
      align-items: center;
      padding: 8px 32px;
      justify-content: space-between;
      cursor: pointer;
      .leftSidebar__list__item__title {
        font-size: 16px;
        font-weight: 500;
        color: #66b2ff;
        font-family: "Inter";
      }
      .leftSidebar__list__item__icon {
        transform: rotate(-90deg);
      }
      &:hover {
        background: #1b497b;
      }
    }
    .leftSidebar__list__item__active {
      background: #0d3056;
      .leftSidebar__list__item__title {
        color: #0a7ea3;
        font-weight: 600;
      }
      .leftSidebar__list__item__icon {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
      }
    }
  }
}
