.adv_sidebar {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 12px;
  background-color: #0b1929;
  border: 1px solid #132f4c;
  padding: 0px 16px;
  .adv_sidebar_left {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 52px;
  }
  .adv_searchBar {
    width: 100%;
    height: 42px;
    border: 1px solid #132f4c;
    border-radius: 8px;
    padding: 0 8px;
    background: #0b1929;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .adv_search {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 16px;
      color: #333;
      background: #0b1929;
      &::placeholder {
        color: #b2bac2;
      }
      color: #fff;
    }
    .search_icon {
      margin-right: 4px;
    }
  }

  .adv_sidebar_body {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    .adv_sidebar_body_item {
      display: flex;
      align-items: center;
      gap: 8px;
      .check_box {
        width: 20px;
        height: 20px;
      }
      .adv_sidebar_body_item_title {
        font-size: 16px;
        font-weight: 400;
        font-family: "Roboto";
        color: #fff;
      }
    }
  }
  .right_content_header_type {
    width: 80px;
    height: 32px;
    display: flex;
    border-radius: 8px;
    border: 1px solid #132f4c;
    .right_content_header_type_list {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 40px;
      padding: 8px;
      justify-content: space-between;
      height: 32px;
      border-right: 1px solid #333;
      border-radius: 2px;
      .line {
        width: 100%;
        height: 2px;
        border: 1px solid #fff;
      }
    }
    .right_content_header_type_grid {
      cursor: pointer;
      display: grid;
      place-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      width: 40px;
      padding: 8px;
      padding-top: 6px;
      height: 32px;
      .line {
        width: 100%;
        height: 10px;
        border: 1px solid #fff;
      }
    }
    .active {
      .line {
        border-color: #0175ff;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .adv_sidebar {
    display: none;
  }
}
