.advancedFeature {
  margin: 320px auto;
  width: 100%;
  max-width: var(--maxWidth);
  .advancedFeature_header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 72px;
    .advancedFeature_header__text {
      font-size: 28px;
      font-weight: 500;
      color: #000;
      text-align: center;
      font-family: "Roboto", sans-serif;
    }
    .advancedFeature_header__sub_text {
      font-size: 16px;
      font-weight: 400;
      color: #5f6368;
      font-family: "Inter", sans-serif;
      text-align: center;
      padding: 0px 50px;
    }
    .advancedFeature_header__button {
      margin: 0 auto;
      width: 340px;
      margin-top: 32px;
      height: 50px;
      border-radius: 4px;
      background-color: #25c93f;
      color: white;
      font-size: 16px;
      font-weight: 500;
      font-family: "Inter", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #1daa31;
      }
    }
  }
  .advancedFeature_body {
    width: 600px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transform: scale(1.004);
    }
    .advancedFeature_body__code_snippet_header {
      position: relative;
      border-radius: 4px;
      height: max-content;
      .advancedFeature_body__code_snippet_header__top {
        position: absolute;
        padding: 0px 16px;
        border: 1px solid #eaeaea;
        top: -24px;
        left: 0px;
        background-color: white;
        height: 42px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        align-items: center;
        width: 100%;
        .advancedFeature_body__code_snippet_header__top__red {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ff5f55;
          margin-right: 8px;
        }
        .advancedFeature_body__code_snippet_header__top__yellow {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #ffbd2d;
          margin-right: 8px;
        }
        .advancedFeature_body__code_snippet_header__top__green {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #25c93f;
          margin-right: 8px;
        }
        .advancedFeature_body__code_snippet_header__top__text {
          font-size: 14px;
          margin-left: 24px;
          font-weight: 500;
          color: #5f6368;
          font-family: "Roboto", sans-serif;
          padding: 12px 24px;
          border: 1px solid #d0cdcd;
        }
      }
      .advancedFeature_body__output {
        position: absolute;
        top: 220px;
        left: 400px;
        background-color: white;
        border: 1px solid #eaeaea;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        .advancedFeature_body__output_header {
          padding: 0px 16px;
          border: 1px solid #eaeaea;
          background-color: white;
          height: 42px;
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
          display: flex;
          align-items: center;
          width: 100%;
          .advancedFeature_body__code_snippet_header__top__red {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #ff5f55;
            margin-right: 8px;
          }
          .advancedFeature_body__code_snippet_header__top__yellow {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #ffbd2d;
            margin-right: 8px;
          }
          .advancedFeature_body__code_snippet_header__top__green {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #25c93f;
            margin-right: 8px;
          }
          .advancedFeature_body__code_snippet_header__output_text {
            font-size: 14px;
            margin-left: 120px;
            font-weight: 500;
            color: #5f6368;
            font-family: "Roboto", sans-serif;
            padding: 4px 42px;
            border-radius: 8px;
            border: 1px solid #d0cdcd;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .advancedFeature {
    .advancedFeature_body {
      padding: 0px 16px;
      width: 100%;
      .advancedFeature_body__code_snippet_header {
        .advancedFeature_body__output {
          top: 250px;
          left: 0px;
          .advancedFeature_body__output_img {
            width: 100% !important;
          }
          .advancedFeature_body__output_header {
            .advancedFeature_body__code_snippet_header__output_text {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}
