.advancedFeature {
  margin: 62px auto;
  margin-bottom: 82px;
  width: 100%;
  max-width: var(--max-width);
  .advancedFeature_header {
    .advancedFeature_header__text {
      margin-bottom: 8px;
      font-size: 20px;
      font-weight: 600;
      color: #66b2ff;
      font-family: "Roboto", sans-serif;
    }
    .advancedFeature_header__sub_text {
      font-size: 24px;
      font-weight: 600;
      color: #fff;
      font-family: "Roboto", sans-serif;
      line-height: 1.2;
    }
    .advancedFeature_header__description {
      font-size: 14px;
      font-weight: 400;
      color: #a0aab4;
      line-height: 1.2;
      margin-top: 10px;
    }
  }
  .advancedFeature_body {
    margin-top: 62px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    .advancedFeature_body__item {
      padding: 24px;
      width: 328px;
      height: 200px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      background: linear-gradient(to right bottom, #007fff, #0059b2 120%);
      box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px, rgb(0 0 0 / 4%) 0px 10px 10px;
      .advancedFeature_body__item__header {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 6px;
      }
      .advancedFeature_body__item__description {
        font-size: 14px;
        font-weight: 400;
        color: #c6d2dc;
        line-height: 1.2;
      }
      .advancedFeature_body__item__tags {
        display: flex;
        flex: 1;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 8px;
        .advancedFeature_body__item__tags__item {
          font-size: 14px;
          font-weight: 400;
          color: #a0aab4;
          line-height: 1.2;
          margin-right: 8px;
          padding: 6px 12px;
          border-radius: 6px;
          background: #132f4c;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .advancedFeature {
    padding: 0px 16px;
    max-width: 100%;
    .advancedFeature_body {
      justify-content: center;
      .advancedFeature_body__item {
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
      }
    }
  }
}
