.header_container_mobile {
  width: 100%;
  .header_mobile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    .header_menu_icon {
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
      touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
      position: absolute;
      left: 32px;
      .header_menu_icon_line {
        width: 28px;
        height: 3px;
        background: #66b2ff;
        border-radius: 2px;
      }
    }
    .header_title_mobile {
      font-size: 28px;
      font-weight: 800;
      color: #66b2ff;
      cursor: pointer;
      font-family: "Inter", sans-serif;
      touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
    }
  }
  .header_menu_mobile {
    position: absolute;
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    background: #011e3c;
    z-index: 100;
    right: -100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    .header_menu_item_mobile {
      font-size: 15px;
      padding: 12px 32px;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
      font-family: "Inter", sans-serif;
      &:hover {
        color: #e2dddd;
      }
    }
  }
  .open_side_bar_mobile {
    right: 0;
  }
}

.cross_btn {
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.header_container_right_item_coffee {
  border-radius: 4px;
}
