.topSection {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #011e3c;
  padding-top: 109px;
  padding-bottom: 142px;
  gap: 24px;
  .topSection_title {
    font-size: 60px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    .topSection_title_highlight {
      color: #66b2ff;
    }
  }
  .topSection_description {
    font-size: 20px;
    text-align: center;
    color: #fff;
  }
  .topSection_btn_list {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 46px;
    .topSection_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 50px;
      border-radius: 3px;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      color: #fff;
      transition: all 0.5s ease-in-out;
    }
    .topSection_button_left {
      background-color: #054da7;
      border: 1px solid #054da7;
      &:hover {
        background-color: #034290;
      }
    }
    .topSection_button_right {
      border: 1px solid #054da7;
      color: #66b2ff;
      &:hover {
        background-color: #023367;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .topSection {
    padding: 0px 16px;
    padding-top: 109px;
    padding-bottom: 142px;
    .topSection_title {
      font-size: 36px;
      font-weight: 700;
    }
    .topSection_description {
      font-size: 16px;
    }
    .topSection_btn_list {
      flex-direction: column;
      .topSection_button_left {
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
      }
      .topSection_button_right {
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }
}
