.machine_round {
  width: 100%;
  .machine_round_list {
    width: var(--max-width);
    margin: 62px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 42px;
    .machine_round_list_loader {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50vh;
    }
    .machine_round_list_item {
      width: auto;
      max-width: 450px;
      height: auto;
      background-color: #132f4c;
      border-radius: 10px;
      border: 1px solid #1e4976;
      transition: all 0.2s ease-in-out;
      &:hover {
        border: 1px solid #0072e4;
      }
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .machine_round_list_item_image {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 1px solid #1e4976;
      }
      .machine_round_list_item_question {
        font-size: 18px;
        font-weight: 700;
        color: #66b2ff;
        font-family: "Roboto", sans-serif;
        padding: 0px 20px;
        margin-top: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .machine_round_list_item_description {
        font-size: 14px;
        font-weight: 400;
        color: #b1bac2;
        font-family: "Inter", sans-serif;
        margin-top: 6px;
        padding: 0px 20px;
        //make ellipsis for max 2 lines
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .machine_round_list_item_language_container {
        padding: 8px 20px;
        margin-top: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .machine_round {
    width: 100%;
    padding: 0px 16px;
    .machine_round_list {
      width: 100%;
      .machine_round_list_item {
        max-width: 100%;
        .machine_round_list_item_image {
          max-width: 100%;
          max-height: 250px;
        }
      }
    }
  }
}
