.allCompiler {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 56px 8px;
  .compiler__item {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 4px;
    border-radius: 4px;
    background-color: #0b1929;
    border: 1px solid #132f4c;
    &:hover {
      transform: scale(1.06);
    }
  }
  .active__item {
    background-color: #132F4C;
    border-color: #5090D3;
  }
}
