.frontEndCodingQuestions__container {
  width: 800px;
  margin: 52px auto;
  display: flex;
  flex-direction: column;
  gap: 52px;
  .frontEndCodingQuestions__container__questions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .frontEndCodingQuestions__container__questions__question {
      font-size: 24px;
      font-weight: 600;
      color: #000;
      font-family: "Roboto";
    }
    .frontEndCodingQuestions__container__questions__answer {
      line-height: 1.65;
      font-size: 16px;
      font-weight: 400;
      direction: ltr;
      font-feature-settings: "kern";
      font-family: "Inter", sans-serif;
    }
  }
}
