.coding {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #0b1929;
  .coding__left {
    width: 320px;
  }
  .coding__right {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .coding__stated_page__title {
    display: flex;
    height: 71px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    z-index: 3000;
    background-color: rgba(10, 25, 41, 0.7);
    box-shadow: inset 0px -1px 1px #132f4c;
    backdrop-filter: blur(8px);
    .coding__stated_page__title__text {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      padding: 0px 24px;
      font-weight: 500;
      color: #f5f5f5;
    }
  }
  .coding__stated_page {
    max-width: 800px;
    padding: 16px 32px;
    .coding_header {
      margin-top: 12px;
      .coding_header__title {
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 600;
        color: #fff;
        text-align: center;
      }
      .coding_header__description {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #a0aab4;
        margin-top: 4px;
        text-align: center;
      }
    }
  }
  .coding__container {
    .coding__container_top {
      margin-top: 52px;
      display: flex;
      align-items: center;
      gap: 42px;
      justify-content: space-between;
      .coding__container_top_left,
      .coding__container_top_right {
        background: #132f4c;
        border: 1px solid #5090d3;
        border-radius: 12px;
        flex: 1;
        height: 250px;
        padding: 24px;
        .coding__container_top_left__title,
        .coding__container_top_right__title {
          font-family: "Inter", sans-serif;
          font-size: 24px;
          font-weight: 600;
          color: #fff;
        }
        .coding__container_top_left__description,
        .coding__container_top_right__description {
          font-family: "Inter", sans-serif;
          font-size: 16px;
          font-weight: 400;
          color: #b2bac2;
          margin: 16px 0px;
        }
        .coding__container_top_left__button {
          width: 160px;
          height: 40px;
          border-radius: 4px;
          border: none;
          margin-top: 16px;
          font-family: "Inter", sans-serif;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          background-color: #054da7;
          border: 1px solid #054da7;
          &:hover {
            background-color: #034290;
          }
          color: #fff;
        }
        .coding__container_top_right__button {
          width: 160px;
          height: 40px;
          border-radius: 4px;
          border: none;
          margin-top: 16px;
          font-family: "Inter", sans-serif;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          border: 1px solid #054da7;
          color: #66b2ff;
          background-color: #023367;
          &:hover {
            background-color: #034290;
          }
          color: #fff;
        }
      }
    }
    .coding__container_item__title {
      font-family: "Roboto", sans-serif;
      font-size: 32px;
      font-weight: 500;
      color: #fff;
      margin-top: 52px;
    }
    .coding__container_item__description {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #b2bac2;
      margin-top: 16px;
      .coding__container_item__description__list {
        margin-top: 16px;
        .coding__container_item__description__list__item {
          margin-left: 24px;
          font-family: "Inter", sans-serif;
          margin-top: 8px;
        }
      }
    }
  }

  .codingQuestions__container__play_ground {
    margin: 72px 0px;
    padding: 16px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 62px;
    .codingQuestions__container__play_ground__left {
      flex: 1;
      .codingQuestions__container__play_ground__left__title {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        font-family: "Roboto", sans-serif;
        margin-bottom: 24px;
        width: max-content;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: -24px;
          left: 0;
          height: 20px;
          width: 100%;
          border: solid 3px #5090d3;
          border-color: #5090d3 transparent transparent transparent;
          border-radius: 50%;
        }
      }
      .codingQuestions__container__play_ground__left__sub_title {
        font-size: 17px;
        font-weight: 400;
        color: #a0aab4;
        line-height: 1.2;
        margin-top: 10px;
      }
      .codingQuestions__container__play_ground__left__button {
        margin-top: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 24px;
        width: 200px;
        border-radius: 10px;
        background: #5090d3;
        border: 1px solid #5090d3;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        &:hover {
          background: #66b2ff;
        }
      }
      .codingQuestions__container__play_ground__description {
        margin-top: 42px;
        font-size: 15px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        color: #05b6d3;
        font-style: italic;
        line-height: 1.2;
        .codingQuestions__container__play_ground__description__link {
          color: #66b2ff;
          cursor: pointer;
          margin-left: 2px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .codingQuestions__container__play_ground__right {
      flex: 1.5;
      .codingQuestions__container__play_ground__right__image {
        width: 100%;
        height: 100%;
        border: 8px solid #5090d3;
        border-radius: 10px;
        //make it responsive
      }
    }
  }
  .coding__container_conclusion {
    margin-top: 90px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #b2bac2;
    .coding__container_conclusion__title {
      font-size: 24px;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      margin-bottom: 12px;
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .coding {
    .coding__left {
      display: none;
    }
    .coding__stated_page {
      max-width: 100%;
      padding: 16px;
      .coding_header {
        .coding_header__title {
          font-size: 28px;
        }
      }
    }
    .coding__container {
      .coding__container_top {
        flex-direction: column;
      }
    }
  }
}
