.allPost {
  display: flex;
  flex-direction: column;
  margin: 52px 0px;
  gap: 16px;
  .allPost_posts {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {
  .allPost {
    margin: 32px 0px;
    .allPost_posts {
    }
  }
}
