.footer {
  width: 100%;
  background-color: #001e3c;
  border-top: 1px solid rgba(194, 224, 255, 0.08);
  padding: 20px 0;
  .footer_container {
    width: 100%;
    max-width: 1024px;
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 52px;
    .footer_row {
      display: flex;
      justify-content: space-between;
      .footer_header {
        color: #ffffff;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
        font-family: "Inter", sans-serif;
      }
      .footer_column {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .footer_item {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: #b2bac2;
          text-decoration: none;
          font-family: "Inter", sans-serif;
          cursor: pointer;
          &:hover {
            color: #66b2ff;
          }
        }
      }
    }
  }
  .footer_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #eeecec;
    font-family: "Inter", sans-serif;
  }
  .footer_item_buy_coffee {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #fedd03;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    .header_container_right_item_coffee {
      border-radius: 4px;
      background-color: white;
      padding: 4px;
    }
    .footer_buy_me_coffee_title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: rgb(61, 60, 60);
      font-family: "Inter", sans-serif;
      font-style: italic;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0px 16px;
    .footer_container {
      height: 650px;
      .footer_row {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }
  }
}

.hide_footer {
  display: none;
}
