.footer {
  height: 52px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  .footer_title {
    font-size: 14px;
    font-weight: 600;
    color: #343541;
  }
}
