.featuredQuestions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background: #ffffff;
  .featuredQuestions_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    .featuredQuestions_left_box {
      display: flex;
    }
    .featuredQuestions_right_box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 32px;
    }
  }
  .featuredQuestions_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    .featuredQuestions_bottom_left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 32px;
    }
  }
}

@media screen and (max-width: 768px) {
  .featuredQuestions {
    .featuredQuestions_box {
      flex-direction: column;
      width: 100%;
      .featuredQuestions_left_box {
        flex-direction: column;
        width: 100%;
      }
      .featuredQuestions_right_box {
        flex-direction: column;
        width: 100%;
      }
    }
    .featuredQuestions_bottom {
      flex-direction: column;
      width: 100%;
      .featuredQuestions_bottom_left {
        flex-direction: column;
        width: 100%;
      }
    }
  }
}
