.codeSnippet {
  display: flex;
  align-items: center;
  justify-content: center;
  .codeSnippet_container {
    margin: 16px 0px;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    max-height: 550px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    ::-webkit-scrollbar-thumb {
      background: #bdc0c1;
      border-radius: 6px;
    }
  }
}
