.readBlog {
  margin: 32px auto;
  width: 700px;
  .readBlog_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .readBlog_container_header {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .readBlog_container_header_title {
        font-size: 32px;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        color: #000;
      }
      .readBlog_container_title_date {
        font-size: 14px;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        color: #666;
      }
    }
    .readBlog_container_img_box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .readBlog_container_img {
        border-radius: 4px;
      }
    }
    .readBlog_container_content {
      font-size: 15px;
      font-weight: 400;
      font-family: "Inter", sans-serif;
      line-height: 1.5;
      color: #000;
      strong {
        font-weight: 700;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
      }
      b {
        font-weight: 700;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
      }
      ul {
        list-style: disc;
        padding-left: 24px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .readBlog {
    width: 100%;
    padding: 0px 16px;
    .readBlog_container {
      width: 100%;
      padding: 0px 0px;
      .readBlog_container_header {
        .readBlog_container_header_title {
          font-size: 28px;
        }
      }
      .readBlog_container_img_box {
        .readBlog_container_img {
          width: 100%;
        }
      }
    }
  }
}
