.modal {
  .modal_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    border-radius: 4px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transform: scale(1.004);
    }
    .modal_icon {
      object-fit: contain;
    }
    .modal_box_title {
      font-size: 42px;
      font-weight: 800;
      color: #000;
      font-family: "Roboto", sans-serif;
    }
    .modal_box_description {
      font-size: 22px;
      font-weight: 400;
      color: #666;
      font-family: "Inter", sans-serif;
      text-align: center;
    }
    .modal_box_button {
      margin-top: 24px;
      padding: 16px 42px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 500;
      background: #202123;
      color: #fff;
      cursor: pointer;
      font-family: "Inter", sans-serif;
      transition: all 0.2s ease-in-out;
      &:hover {
        background: #1a1a1d;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .modal {
    padding: 0px 16px;
    width: 100%;
    .modal_box {
      width: 100% !important;
      .modal_box_title {
        font-size: 28px;
      }
      .modal_box_description {
        font-size: 18px;
      }
      .modal_box_button {
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }
}
