@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Black.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Menlo";
  src: url("../assets/fonts/Menlo-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-family: 400;
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-display: swap;
}

*,
h1,
p,
h2,
h3,
ul,
li {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

:root {
  --max-width: 1032px;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.answer_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.answer_list_item {
  margin-left: 32px;
  color: #000;
}
.simple_answers {
  margin-left: 0px;
  color: #000;
}
.simple-answer {
  color: #000;
}
code {
  font-family: "Menlo", monospace;
  font-size: 14px;
  text-shadow: 0 1px rgb(0 0 0 / 30%);
  line-height: 20px;
  text-size-adjust: 100%;
}

pre {
  border-radius: 3px;
  padding: 1.2rem !important;
  background: #1d1f21 !important;
}

pre p {
  color: rgb(171, 178, 191);
}
nav {
  display: none;
}

.go_back_class {
  position: fixed;
  top: 100px;
  right: 32px;
  z-index: 100;
  width: 150px;
  height: 36px;
  border-radius: 4px;
  background-color: #1009ead7;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

strong {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.simple_answers_link_btn {
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #1009ead7;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.image_nextjs {
  border: 1px solid #000;
  border-radius: 4px;
}

b {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgb(241, 89, 89);
}

.main-container {
  background: #ffffff;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.main-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}

@media screen and (max-width: 800px) {
  .main-container {
    scrollbar-width: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .main-container::-webkit-scrollbar {
    display: none;
  }
  .main-container::-webkit-scrollbar-thumb {
    display: none;
  }
  .image_nextjs {
    border: 1px solid #000;
    border-radius: 4px;
    width: 100%;
  }
}
