.database {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  .database_main_container {
    max-width: 1100px;
    display: flex;
    gap: 32px;
    .database_sideBar {
      width: 250px;
    }
    .database_container {
      flex: 1;
      width: 100%;
    }
  }
}
