.database {
  height: calc(100vh - 70px);
  width: 100%;
  .database_main_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    .database_sideBar {
      width: 300px;
      position: sticky;
      top: 70px;
      height: calc(100vh - 70px);
    }
    .database_container {
      max-width: calc(1024px - 300px);
      width: 100%;
    }
  }
  .database_coming_soon_container {
    height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
