.database {
  width: 100%;
  background: #0B1929;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  .database_main_container {
    margin: 0px auto;
    width: var(--max-width);
    display: flex;
    justify-content: center;
    .database_sideBar {
      width: 300px;
      position: sticky;
      margin-right: 16px;
      top: 25px;
      height: calc(100vh - 105px);
      background: #ffffff;
      padding-bottom: 8px;
    }
    .database_container {
      max-width: calc(var(--max-width) - 300px);
      width: 100%;
      background: #ffffff;
      margin-top: 25px;
    }
  }
  .database_coming_soon_container {
    height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .database {
    padding: 16px;
    .database_main_container {
      width: 100%;
      .database_sideBar {
        margin-right: 0px;
      }
    }
  }
}
