.codingQuestions {
  width: 100%;
  margin: 120px auto;
  margin-bottom: 0px;
  .design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .line {
      width: 1px;
      height: 100px;
      background: linear-gradient(180deg, #EA8D8D, #A890FE);
    }
    .circle {
      font-size: 16px;
      font-weight: 600;
      font-family: "Roboto", sans-serif;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: linear-gradient(-90deg, #EA8D8D, #A890FE);
    }
    .title {
      font-size: 20px;
      font-weight: 600;
      font-family: "Roboto", sans-serif;
      color: #000;
      margin: 16px 0px;
      background: linear-gradient(90deg, #EA8D8D, #A890FE);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .codingQuestions__container {
    width: 100%;
    margin: 0 auto;
    .codingQuestions__container__header {
      text-align: center;
      margin-bottom: 8px;
      font-size: 28px;
      font-weight: 600;
      color: #000000;
      font-family: "Roboto", sans-serif;
      padding: 0px 32px;
    }
    .codingQuestions__container__description {
      text-align: center;
      margin-bottom: 52px;
      font-size: 15px;
      font-weight: 400;
      color: #666666;
      font-family: "Inter", sans-serif;
      margin-bottom: 52px;
    }
    .codingQuestions__container__questions {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .codingQuestions {
    width: 100%;
    padding: 0px 0px;
    .codingQuestions__container {
      width: 100%;
      .codingQuestions__container__header {
        padding: 0px 0px;
        font-size: 28px;
      }
    }
  }
}
