.codingQuestions {
  width: 100%;
  margin: 0px auto;
  margin-bottom: 0px;
  background-color: #0b1929;
  padding: 56px 0px;
  .codingQuestions__container {
    width: 100%;
    width: var(--max-width);
    margin: 0 auto;
    .codingQuestions__container__header {
      .codingQuestions__container__header__title {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 600;
        color: #66b2ff;
        font-family: "Roboto", sans-serif;
      }
      .codingQuestions__container__header__sub_title {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        font-family: "Roboto", sans-serif;
        line-height: 1.2;
      }
      .codingQuestions__container__header__description {
        font-size: 14px;
        font-weight: 400;
        color: #a0aab4;
        line-height: 1.2;
        margin-top: 10px;
      }
    }
    .codingQuestions__container__play_ground {
      margin: 72px 0px;
      padding: 16px;
      padding-left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 62px;
      .codingQuestions__container__play_ground__left {
        flex: 1;
        .codingQuestions__container__play_ground__left__title {
          font-size: 18px;
          font-weight: 600;
          color: #fff;
          font-family: "Roboto", sans-serif;
          margin-bottom: 24px;
          width: max-content;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            bottom: -24px;
            left: 0;
            height: 20px;
            width: 100%;
            border: solid 3px #5090d3;
            border-color: #5090d3 transparent transparent transparent;
            border-radius: 50%;
          }
        }
        .codingQuestions__container__play_ground__left__sub_title {
          font-size: 17px;
          font-weight: 400;
          color: #a0aab4;
          line-height: 1.2;
          margin-top: 10px;
        }
        .codingQuestions__container__play_ground__left__button {
          margin-top: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px 24px;
          height: 48px;
          width: 200px;
          border-radius: 10px;
          background: #027afa;
          border: 1px solid #0175f0;
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          font-family: "Roboto", sans-serif;
          cursor: pointer;
          &:hover {
            background: #025ab8;
          }
        }
        .codingQuestions__container__play_ground__description {
          margin-top: 42px;
          font-size: 15px;
          font-weight: 500;
          font-family: "Roboto", sans-serif;
          color: #05b6d3;
          font-style: italic;
          line-height: 1.2;
          .codingQuestions__container__play_ground__description__link {
            color: #66b2ff;
            cursor: pointer;
            margin-left: 2px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .codingQuestions__container__play_ground__right {
        flex: 1.5;
        .codingQuestions__container__play_ground__right__image {
          width: 100%;
          height: 100%;
          border: 8px solid #5090d3;
          border-radius: 10px;
          //make it responsive
        }
      }
    }
    .codingQuestions__container__questions {
      margin-top: 56px;
      .codingQuestions__container__questions__item {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        .codingQuestions__container__questions__item__title {
          padding: 24px;
          width: 236px;
          cursor: pointer;
          border-radius: 12px;
          background: #132f4c;
          border: 1px solid #5090d3;
          &:hover {
            background: #164070;
          }
          .codingQuestions__container__questions__item__title__text {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            font-family: "Roboto", sans-serif;
          }
          .codingQuestions__container__questions__item__title__link {
            font-size: 14px;
            font-weight: 400;
            color: #66b2ff;
            margin-top: 8px;
          }
        }
      }
    }
    .codingQuestions__container__questions__link {
      margin-top: 24px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 100%;
      color: #66b2ff;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .codingQuestions {
    padding: 56px 16px;
    .codingQuestions__container {
      width: 100%;
      .codingQuestions__container__play_ground {
        flex-direction: column;
      }
      .codingQuestions__container__questions {
        margin-top: 56px;
        .codingQuestions__container__questions__item {
          justify-content: center;
          .codingQuestions__container__questions__item__title {
            touch-action: pan-y;
            -webkit-tap-highlight-color: transparent;
          }
        }
      }
      .codingQuestions__container__questions__link {
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
      }
    }
  }
}
