.codingQuestions {
  width: 100%;
  margin: 120px auto;
  .codingQuestions__container {
    width: 1024px;
    margin: 0 auto;
    .codingQuestions__container__header {
      text-align: center;
      margin-bottom: 52px;
      font-size: 32px;
      font-weight: 600;
      color: #000000;
      font-family: "Roboto", sans-serif;
      padding: 0px 32px;
    }
  }
}

@media screen and (max-width: 768px) {
  .codingQuestions {
    width: 100%;
    padding: 0px 16px;
    .codingQuestions__container {
      width: 100%;
      .codingQuestions__container__header {
        padding: 0px 0px;
      }
    }
  }
}
